<h1>Edit Message</h1>
<%= render "messages/form" %>
<div>
  <% if @message.errors.any? %>
    <div>
      <% @message.errors.each do |error| %>
        <h1>
          <%= error.full_message %>
        </h1>
      <% end %>
    </div>
  <% end %>
</div>