<h1>Edit user</h1>
<%= render "users/form" %>
<div>
  <% if @user.errors.any? %>
    <div>
      <% @user.errors.each do |error| %>
        <h1>
          <%= error.full_message %>
        </h1>
      <% end %>
    </div>
  <% end %>
</div>