<h1>Users</h1>
<hr>
<table class="table">
  <% @users.each do |user| %>
    <tr>
      <td class="bg-dark text-primary">
        <%= link_to(user.first_name,user_path(user)) %>
      </td>
    </tr>
  <% end %>
</table>