<h1>Chat Among</h1>
<%= render "chats/form" %>
<div>
  <% if @chat.errors.any? %>
    <div>
      <% @chat.errors.each do |error| %>
        <h1>
          <%= error.full_message %>
        </h1>
      <% end %>
    </div>
  <% end %>
</div>